In [1]:
print("hi")

hi

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('./nypd-motor-vehicle-collisions.csv')

/tmp/ipykernel_70272/571042000.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./nypd-motor-vehicle-collisions.csv')

In [8]:
print(df)

                   ACCIDENT DATE ACCIDENT TIME    BOROUGH ZIP CODE   LATITUDE  \
0        2019-08-05T00:00:00.000         16:30     QUEENS  11434.0  40.676052
1        2019-08-27T00:00:00.000         16:02   BROOKLYN  11225.0  40.657780
2        2019-08-15T00:00:00.000         17:57  MANHATTAN  10002.0  40.718143
3        2019-08-30T00:00:00.000         21:53      BRONX  10460.0  40.840534
4        2019-08-06T00:00:00.000          9:45  MANHATTAN  10016.0  40.745440
...                          ...           ...        ...      ...        ...
1612173  2012-07-21T00:00:00.000         22:46   BROOKLYN  11226.0  40.651741
1612174  2012-07-09T00:00:00.000         16:45        NaN      NaN        NaN
1612175  2012-07-09T00:00:00.000         14:35        NaN      NaN  40.791492
1612176  2012-07-18T00:00:00.000          9:20  MANHATTAN  10024.0  40.779479
1612177  2012-07-12T00:00:00.000          3:10     QUEENS  11361.0  40.762501

         LONGITUDE                                           LOCATION  \
0       -73.790184  {'type': 'Point', 'coordinates': [-73.790184, ...
1       -73.951096  {'type': 'Point', 'coordinates': [-73.951096, ...
2       -73.993835  {'type': 'Point', 'coordinates': [-73.993835, ...
3       -73.866610  {'type': 'Point', 'coordinates': [-73.86661, 4...
4       -73.975400  {'type': 'Point', 'coordinates': [-73.9754, 40...
...            ...                                                ...
1612173 -73.965241  {'type': 'Point', 'coordinates': [-73.9652409,...
1612174        NaN                                                NaN
1612175 -73.935763  {'type': 'Point', 'coordinates': [-73.935763, ...
1612176 -73.973573  {'type': 'Point', 'coordinates': [-73.9735729,...
1612177 -73.782522  {'type': 'Point', 'coordinates': [-73.7825216,...

                           ON STREET NAME                 CROSS STREET NAME  \
0                                     NaN                               NaN
1                                     NaN                               NaN
2        CHRYSTIE STREET                                       GRAND STREET
3                                     NaN                               NaN
4        EAST 35 STREET                                            2 AVENUE
...                                   ...                               ...
1612173  PARADE PLACE                      CROOKE AVENUE
1612174  EDWARD L GRANT HIGHWAY            WEST 169 STREET
1612175                               NaN                               NaN
1612176  CENTRAL PARK WEST                 WEST 77 STREET
1612177  39 AVENUE                         203 STREET

                                  OFF STREET NAME  ...  \
0        150-08    123 AVENUE                      ...
1        288       HAWTHORNE STREET                ...
2                                             NaN  ...
3        1837      EAST TREMONT AVENUE             ...
4                                             NaN  ...
...                                           ...  ...
1612173                                       NaN  ...
1612174                                       NaN  ...
1612175                                       NaN  ...
1612176                                       NaN  ...
1612177                                       NaN  ...

          CONTRIBUTING FACTOR VEHICLE 2  CONTRIBUTING FACTOR VEHICLE 3  \
0                           Unspecified                            NaN
1                           Unspecified                            NaN
2                                   NaN                            NaN
3                           Unspecified                            NaN
4        Driver Inattention/Distraction                            NaN
...                                 ...                            ...
1612173                     Unspecified                            NaN
1612174                 Fatigued/Drowsy                    Unspecified
1612175                     Unspecified                            NaN
1612176                     Unspecified                    Unspecified
1612177                             NaN                            NaN

         CONTRIBUTING FACTOR VEHICLE 4  CONTRIBUTING FACTOR VEHICLE 5  \
0                                  NaN                            NaN
1                                  NaN                            NaN
2                                  NaN                            NaN
3                                  NaN                            NaN
4                                  NaN                            NaN
...                                ...                            ...
1612173                            NaN                            NaN
1612174                            NaN                            NaN
1612175                            NaN                            NaN
1612176                            NaN                            NaN
1612177                            NaN                            NaN

         COLLISION_ID                  VEHICLE TYPE CODE 1  \
0             4184637                                Sedan
1             4195773  Station Wagon/Sport Utility Vehicle
2             4202457                                Sedan
3             4198749                                 Taxi
4             4183798  Station Wagon/Sport Utility Vehicle
...               ...                                  ...
1612173        147595        SPORT UTILITY / STATION WAGON
1612174         85220                    PASSENGER VEHICLE
1612175       2853431                    PASSENGER VEHICLE
1612176         52405        SPORT UTILITY / STATION WAGON
1612177        259445                    PASSENGER VEHICLE

                         VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3  \
0                              Pick-up Truck                  NaN
1        Station Wagon/Sport Utility Vehicle                  NaN
2                                        NaN                  NaN
3        Station Wagon/Sport Utility Vehicle                  NaN
4                                       Bike                  NaN
...                                      ...                  ...
1612173                              UNKNOWN                  NaN
1612174                       LIVERY VEHICLE    PASSENGER VEHICLE
1612175                    PASSENGER VEHICLE                  NaN
1612176                                  VAN                  BUS
1612177                                  NaN                  NaN

        VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0                       NaN                 NaN
1                       NaN                 NaN
2                       NaN                 NaN
3                       NaN                 NaN
4                       NaN                 NaN
...                     ...                 ...
1612173                 NaN                 NaN
1612174                 NaN                 NaN
1612175                 NaN                 NaN
1612176                 NaN                 NaN
1612177                 NaN                 NaN

[1612178 rows x 29 columns]

In [11]:
print(df.columns.tolist())

['ACCIDENT DATE', 'ACCIDENT TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5']

In [13]:
print(df.iloc[:, 0].tolist())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [12]:
list = df.columns.tolist()

In [14]:
l_wierszy = df.shape[0]
print(l_wierszy)

1612178

In [17]:
print(df.to_string())

KeyboardInterrupt:

In [18]:
import matplotlib.pyplot as plt

In [ ]:
counts = df['nazwa_kolumny'].value_counts()