In [1]:
print("hi")

hi

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
File = './TestCSV.csv'

In [7]:
df = pd.read_csv(File)

In [25]:
print(df)

     Hello Hellow
0   There1    hi1
1   There2    hi2
2   There3    hi3
3      NaN    hi1
4      NaN    hi2
5      NaN    hi3
6   There1    NaN
7   There2    NaN
8   There3    NaN
9   There1    NaN
10  There2    NaN
11  There3    NaN

In [12]:
nowe_dane = pd.DataFrame({'Hellow': ['hi1', 'hi2', 'hi3']})

df = pd.concat([df, nowe_dane], ignore_index=True)

df.to_csv(File, index=False)

In [24]:
# nowe_dane2 = pd.DataFrame({'Hello': ['There1','There2','There3']})
nowe_dane2 = pd.Series(['There1', 'There2', 'There3'], name='Hello')
# df = pd.concat([df, nowe_dane2], ignore_index=True)
df.reset_index(drop=True, inplace=True)
df.loc[:2, 'Hello'] = nowe_dane2.values
df.to_csv(File, index=False)